@tailwind base;
@tailwind components;
@tailwind utilities;

.salary-header {
  height: 64px !important;
  background-color: #1890ff !important;
}
.ant-page-header {
  padding: 8px 24px !important;
}
.ant-page-header-heading-title {
  margin-right: 0;
}

.adsense-component {
  max-width: 1024px;
  height: 250px;
  background: #ddd;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .adsense-component {
    width: 100%;
  }
  .ant-typography {
    padding: 0 10px;
  }
}

.ant-page-header-heading,
.container-wrap {
  width: 1024px !important;
  margin: 0 auto !important;
}

@media (max-width: 1024px) {
  .ant-page-header-heading,
  .container-wrap {
    width: 100% !important;
    margin: 0 !important;
  }
  .ant-page-header-heading-left {
    padding-left: 0;
  }
}

h1 {
  letter-spacing: -1.5px;
}

.content-wrap {
  min-height: 300px;
}
