@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-page-header-heading,
.container-wrap {
  width: 1024px !important;
  margin: 0 auto !important;
}

.ant-page-header-heading-left {
  padding-left: 18px;
}

@media (max-width: 1024px) {
  .ant-page-header-heading,
  .container-wrap {
    width: 100% !important;
    margin: 0 !important;
  }
  .ant-page-header-heading-left {
    padding-left: 0;
  }
}

h1 {
  letter-spacing: -1.5px;
}

.content-wrap {
  min-height: 300px;
}
